body {
  background: rgba(228, 214, 221, 0.3);
}
.App {
  text-align: center;
}
.App-header h1 {
  margin: 30px 0;
}
.App footer {
  font-size: 11px;
  margin: 10px 0;
}

.App a {
  color: rgb(195, 140, 202);
  text-decoration: none;
}
