body {
  background: rgba(228, 214, 221, 0.3);
}
.App {
  padding: 60px 0 100px;
  max-width: 960px;
  margin: 0 auto;
  text-align: center;
}
.App-header h1 {
  color: rgb(77, 56, 67);
  max-width: 200px;
  margin: 30px auto;
}

.App footer {
  font-size: 11px;
  margin: 10px 0;
}

.App a {
  color: rgb(195, 140, 202);
  text-decoration: none;
}
